example/find-audience-interest-in-ads/git-examples/__init__.py
example/find-audience-interest-in-ads/git-examples/account_management/__init__.py
example/find-audience-interest-in-ads/git-examples/account_management/approve_merchant_center_link.py
example/find-audience-interest-in-ads/git-examples/account_management/create_customer.py
example/find-audience-interest-in-ads/git-examples/account_management/get_account_hierarchy.py
example/find-audience-interest-in-ads/git-examples/account_management/get_account_information.py
example/find-audience-interest-in-ads/git-examples/account_management/get_change_details.py
example/find-audience-interest-in-ads/git-examples/account_management/get_change_summary.py
example/find-audience-interest-in-ads/git-examples/account_management/get_pending_invitations.py
example/find-audience-interest-in-ads/git-examples/account_management/invite_user_with_access_role.py
example/find-audience-interest-in-ads/git-examples/account_management/link_manager_to_client.py
example/find-audience-interest-in-ads/git-examples/account_management/list_accessible_customers.py
example/find-audience-interest-in-ads/git-examples/account_management/reject_merchant_center_link.py
example/find-audience-interest-in-ads/git-examples/account_management/update_user_access.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/__init__.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_ad_customizer.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_ad_group_bid_modifier.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_app_campaign.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_display_upload_ad.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_dynamic_page_feed.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_dynamic_search_ads.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_expanded_text_ad_with_upgraded_urls.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_gmail_ad.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_local_campaign.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/add_smart_display_ad.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/create_and_attach_shared_keyword_set.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/find_and_remove_criteria_from_shared_set.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/get_ad_group_bid_modifiers.py
example/find-audience-interest-in-ads/git-examples/advanced_operations/use_portfolio_bidding_strategy.py
example/find-audience-interest-in-ads/git-examples/authentication/__init__.py
example/find-audience-interest-in-ads/git-examples/authentication/authenticate_in_desktop_application.py
example/find-audience-interest-in-ads/git-examples/authentication/authenticate_in_web_application.py
example/find-audience-interest-in-ads/git-examples/basic_operations/__init__.py
example/find-audience-interest-in-ads/git-examples/basic_operations/add_ad_groups.py
example/find-audience-interest-in-ads/git-examples/basic_operations/add_campaigns.py
example/find-audience-interest-in-ads/git-examples/basic_operations/add_expanded_text_ads.py
example/find-audience-interest-in-ads/git-examples/basic_operations/add_keywords.py
example/find-audience-interest-in-ads/git-examples/basic_operations/add_responsive_search_ad.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_ad_groups.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_artifact_metadata.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_campaigns.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_expanded_text_ads.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_keywords.py
example/find-audience-interest-in-ads/git-examples/basic_operations/get_responsive_search_ads.py
example/find-audience-interest-in-ads/git-examples/basic_operations/pause_ad.py
example/find-audience-interest-in-ads/git-examples/basic_operations/remove_ad_group.py
example/find-audience-interest-in-ads/git-examples/basic_operations/remove_ad.py
example/find-audience-interest-in-ads/git-examples/basic_operations/remove_campaign.py
example/find-audience-interest-in-ads/git-examples/basic_operations/remove_keyword.py
example/find-audience-interest-in-ads/git-examples/basic_operations/update_ad_group.py
example/find-audience-interest-in-ads/git-examples/basic_operations/update_campaign.py
example/find-audience-interest-in-ads/git-examples/basic_operations/update_expanded_text_ad.py
example/find-audience-interest-in-ads/git-examples/basic_operations/update_keyword.py
example/find-audience-interest-in-ads/git-examples/billing/__init__.py
example/find-audience-interest-in-ads/git-examples/billing/add_account_budget_proposal.py
example/find-audience-interest-in-ads/git-examples/billing/add_billing_setup.py
example/find-audience-interest-in-ads/git-examples/billing/get_account_budget_proposals.py
example/find-audience-interest-in-ads/git-examples/billing/get_account_budgets.py
example/find-audience-interest-in-ads/git-examples/billing/get_billing_setup.py
example/find-audience-interest-in-ads/git-examples/billing/remove_billing_setup.py
example/find-audience-interest-in-ads/git-examples/campaign_management/__init__.py
example/find-audience-interest-in-ads/git-examples/campaign_management/add_campaign_bid_modifier.py
example/find-audience-interest-in-ads/git-examples/campaign_management/add_campaign_draft.py
example/find-audience-interest-in-ads/git-examples/campaign_management/add_campaign_labels.py
example/find-audience-interest-in-ads/git-examples/campaign_management/add_complete_campaigns_using_batch_job.py
example/find-audience-interest-in-ads/git-examples/campaign_management/create_campaign_experiment.py
example/find-audience-interest-in-ads/git-examples/campaign_management/get_all_disapproved_ads.py
example/find-audience-interest-in-ads/git-examples/campaign_management/get_campaigns_by_label.py
example/find-audience-interest-in-ads/git-examples/campaign_management/graduate_campaign_experiment.py
example/find-audience-interest-in-ads/git-examples/campaign_management/set_ad_parameters.py
example/find-audience-interest-in-ads/git-examples/campaign_management/update_campaign_criterion_bid_modifier.py
example/find-audience-interest-in-ads/git-examples/campaign_management/validate_text_ad.py
example/find-audience-interest-in-ads/git-examples/error_handling/handle_expanded_text_ad_policy_violations.py
example/find-audience-interest-in-ads/git-examples/error_handling/handle_keyword_policy_violations.py
example/find-audience-interest-in-ads/git-examples/error_handling/handle_partial_failure.py
example/find-audience-interest-in-ads/git-examples/error_handling/handle_rate_exceeded_error.py
example/find-audience-interest-in-ads/git-examples/extensions/add_affiliate_location_extensions.py
example/find-audience-interest-in-ads/git-examples/extensions/add_geo_target.py
example/find-audience-interest-in-ads/git-examples/extensions/add_google_my_business_location_extensions.py
example/find-audience-interest-in-ads/git-examples/extensions/add_hotel_callout.py
example/find-audience-interest-in-ads/git-examples/extensions/add_image_extension.py
example/find-audience-interest-in-ads/git-examples/extensions/add_lead_form_extension.py
example/find-audience-interest-in-ads/git-examples/extensions/add_prices.py
example/find-audience-interest-in-ads/git-examples/extensions/add_sitelinks_using_feeds.py
example/find-audience-interest-in-ads/git-examples/extensions/add_sitelinks.py
example/find-audience-interest-in-ads/git-examples/extensions/remove_entire_sitelink_campaign_extension_setting.py
example/find-audience-interest-in-ads/git-examples/extensions/update_sitelink_campaign_extension_setting.py
example/find-audience-interest-in-ads/git-examples/extensions/update_sitelink.py
example/find-audience-interest-in-ads/git-examples/feeds/create_feed_item_set.py
example/find-audience-interest-in-ads/git-examples/feeds/get_feed_items_of_feed_item_set.py
example/find-audience-interest-in-ads/git-examples/feeds/link_feed_item_set.py
example/find-audience-interest-in-ads/git-examples/feeds/remove_feed_items.py
example/find-audience-interest-in-ads/git-examples/feeds/remove_flights_feed_item_attribute_value.py
example/find-audience-interest-in-ads/git-examples/feeds/update_flights_feed_item_string_attribute_value.py
example/find-audience-interest-in-ads/git-examples/hotel_ads/__init__.py
example/find-audience-interest-in-ads/git-examples/hotel_ads/add_hotel_ad_group_bid_modifiers.py
example/find-audience-interest-in-ads/git-examples/hotel_ads/add_hotel_ad.py
example/find-audience-interest-in-ads/git-examples/hotel_ads/add_hotel_listing_group_tree.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_adwords_api_only.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_both_apis_phase_1.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_both_apis_phase_2.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_both_apis_phase_3.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_both_apis_phase_4.py
example/find-audience-interest-in-ads/git-examples/migration/create_complete_campaign_googleads_api_only.py
example/find-audience-interest-in-ads/git-examples/migration/README.md
example/find-audience-interest-in-ads/git-examples/migration/requirements.txt
example/find-audience-interest-in-ads/git-examples/misc/get_all_image_assets.py
example/find-audience-interest-in-ads/git-examples/misc/get_all_videos_and_images.py
example/find-audience-interest-in-ads/git-examples/misc/set_custom_client_timeouts.py
example/find-audience-interest-in-ads/git-examples/misc/upload_image_asset.py
example/find-audience-interest-in-ads/git-examples/misc/upload_image.py
example/find-audience-interest-in-ads/git-examples/misc/upload_media_bundle.py
example/find-audience-interest-in-ads/git-examples/planning/add_keyword_plan.py
example/find-audience-interest-in-ads/git-examples/planning/forecast_reach.py
example/find-audience-interest-in-ads/git-examples/planning/generate_forecast_metrics.py
example/find-audience-interest-in-ads/git-examples/planning/generate_keyword_ideas.py
example/find-audience-interest-in-ads/git-examples/planning/get_ad_group_criterion_cpc_bid_simulations.py
example/find-audience-interest-in-ads/git-examples/planning/get_campaign_criterion_bid_modifier_simulations.py
example/find-audience-interest-in-ads/git-examples/recommendations/__init__.py
example/find-audience-interest-in-ads/git-examples/recommendations/apply_recommendation.py
example/find-audience-interest-in-ads/git-examples/recommendations/dismiss_recommendation.py
example/find-audience-interest-in-ads/git-examples/recommendations/get_text_ad_recommendations.py
example/find-audience-interest-in-ads/git-examples/remarketing/__init__.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_combined_rule_user_list.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_conversion_action.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_conversion_based_user_list.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_custom_audience.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_customer_match_user_list.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_expression_rule_user_list.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_flights_feed.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_logical_user_list.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_merchant_center_dynamic_remarketing_campaign.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_real_estate_feed.py
example/find-audience-interest-in-ads/git-examples/remarketing/add_remarketing_action.py
example/find-audience-interest-in-ads/git-examples/remarketing/setup_advanced_remarketing.py
example/find-audience-interest-in-ads/git-examples/remarketing/setup_remarketing.py
example/find-audience-interest-in-ads/git-examples/remarketing/update_audience_target_restriction.py
example/find-audience-interest-in-ads/git-examples/remarketing/upload_call_conversion.py
example/find-audience-interest-in-ads/git-examples/remarketing/upload_conversion_adjustment.py
example/find-audience-interest-in-ads/git-examples/remarketing/upload_offline_conversion.py
example/find-audience-interest-in-ads/git-examples/remarketing/upload_store_sales_transactions.py
example/find-audience-interest-in-ads/git-examples/reporting/__init__.py
example/find-audience-interest-in-ads/git-examples/reporting/get_hotel_ads_performance.py
example/find-audience-interest-in-ads/git-examples/reporting/get_keyword_stats.py
example/find-audience-interest-in-ads/git-examples/reporting/parallel_report_download.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/__init__.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/add_listing_scope.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/add_shopping_product_ad.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/add_shopping_product_listing_group_tree.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/add_shopping_smart_ad.py
example/find-audience-interest-in-ads/git-examples/shopping_ads/get_product_bidding_category_constant.py
example/find-audience-interest-in-ads/git-examples/targeting/__init__.py
example/find-audience-interest-in-ads/git-examples/targeting/add_campaign_targeting_criteria.py
example/find-audience-interest-in-ads/git-examples/targeting/add_customer_negative_criteria.py
example/find-audience-interest-in-ads/git-examples/targeting/add_demographic_targeting_criteria.py
example/find-audience-interest-in-ads/git-examples/targeting/get_campaign_targeting_criteria.py
example/find-audience-interest-in-ads/git-examples/targeting/get_geo_target_constants_by_names.py
example/find-audience-interest-in-ads/git-examples/targeting/search_for_language_and_carrier_constants.py
example/get-ga-interest-report/test.py
common/__pycache__/getCredential.cpython-38.pyc
example/find-audience-interest-in-ads/google-ads.yaml
json_key_from_gcp.json
perceptive-ivy-293901-acf003f3426d.json
.vscode/settings.json
client_secret_102692608884-4gn1vpv7thnlhfm9n8mihvp1b5unldhc.apps.googleusercontent.com.json
client_secret_465421916926-c3e7m31a3hrplvl1kq5r9qk69ne3o5aj.apps.googleusercontent.com.json
